.cardContent {
  max-width: 250px;
  margin: 20px;
  @include border-Color(#000);
  border-radius: 15px;
  padding: 15px;
  a {
    text-decoration: none;
    color: #000;
    img,
    h1 {
      transition: 0.2s;
    }
    &:hover {
      h1 {
        margin-left: 15px;
      }
      img {
        background-color: #cacaca;
      }
    }
  }

  .contentImage {
    display: flex;
    justify-content: center;
    #projectImage {
      border-radius: 10px;
      width: 220px;
      height: 200px;
      object-fit: cover;
      margin: 10px 0;
      padding: 10px;
      box-shadow: $discreet-box-shadow;
    }
  }
  p {
    font-weight: 600;
    margin: 10px;
  }
}
h1,
h4 {
  font-weight: 600;
}

.listImages {
  display: flex;
  list-style: none;
  margin: 10px;
  img {
    padding: 5px;
    object-fit: cover;
    border-radius: 100%;
    width: 2.5rem;
    box-shadow: $discreet-box-shadow;
    @include border-Color(#fff);
    background-color: $background-page-color;
  }
  li {
    margin-left: -10px;
    transition: translate 250ms;
    &:hover ~ li {
      translate: 15px;
    }
  }
}
